/* Write your CSS here */
.TeamContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
}
.latesMatchesHeading {
  color: aliceblue;
  margin-right: auto;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
  padding: 40px;
  text-align: center;
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
  height: 100vh;
}
.banner {
  width: 65vw;
}
.rcb {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}
.csk {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}
.kxp {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}

.dc {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}
.mi {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}

.rr {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}

.kkr {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}
.srh {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}
